<div class="container" id="home-container">
  <div class="p-5 mb-4 rounded-3" id="home-inner-container">
    <div class="container-fluid py-5 text-center text-white">
      <h1 class="display-5 fw-bold">Welcome to MM</h1>

      <p class="fs-4">This blog webapp was built with Ruby-on-rails 7 and boostrap 5</p>

      <hr class="my-4">

      <p>
        The web app offers a wide range of functionalities to its users,
        starting with the ability to sign up and create an account. Once signed
        up, users can log in to access their personalized dashboard where they
        can create and manage their own articles. The dashboard allows users to
        easily organize their content and make changes to their articles at any
        time. In addition to creating and managing their own articles, users
        can also browse through a library of existing articles submitted by
        other users. This allows users to learn from and engage with others in
        the community. The web app also includes features such as commenting on
        articles, liking and sharing content on social media platforms, and
        following other users to stay up to date on their latest posts. The
        app's user-friendly interface and diverse set of features make it a
        valuable tool for anyone looking to share their ideas and connect with
        others in their field.
      </p>

      <%= link_to "Sign up!", signup_path, class: "btn btn-success btn-lg" %>
    </div>
  </div>
</div>
