<div id="page-content">
  <div class="container" id="home-container">
    <div class="p-5 mb-4 rounded-3" id="home-inner-container">
      <div class="container-fluid py-5 text-center text-white">
        <h1 class="display-5 fw-bold">Hello</h1>
        <p class="col-md-8 fs-4">this</p>
        <hr class="my-4">
        <p>
          it blah blah</p>
        <a class="btn btn-success btn-lg" href="#" role="button">Sign up!</a>
      </div>
    </div>
  </div>
</div>

<footer id="sticky-footer" class="py-2 bg-dark text-white">
  <div class="container text-center">
    <small>Copyright &copy; <%= link_to "Michael Mayaguari", "https://mgmayaguari.github.io/", class: "text-white" %> </small>
  </div>
</footer>
