<div class="container" id="home-container">
  <div class="p-5 mb-4 rounded-3" id="home-inner-container">
    <div class="container-fluid py-5 text-center text-white">
      <h1 class="display-5 fw-bold">HWelcome to MM</h1>

      <p class="fs-4">This blog webapp was built with Ruby-on-rails 7 and boostrap 5</p>

      <hr class="my-4">

      <p>
        Functionalities include: CRUD operations to create an article on an
        interanctive UI, read the existing articles on the DB, update any
        article with corresponding validations, and delete the article from the
        DB. Next steps is to integrate Auth for the blog.
      </p>

      <%= link_to "Sign up!", signup_path, class: "btn btn-success btn-lg" %>
    </div>
  </div>
</div>
