<footer id="sticky-footer" class="py-2 bg-dark text-white">
  <div class="container text-center">
    <small>Copyright &copy; <%= link_to "Michael Mayaguari", "https://mgmayaguari.github.io/", class: "text-white" %> </small>
  </div>
</footer>